% rebase('header.tpl', title='Authenticating')
<head>
    <script>
        function getHash() {
            url = window.location.href.replace('#', '?')
            window.location = url
        }
    </script>
</head>
<body onload="getHash()">
    <h1>Please wait as the cache is built...</h1>
</body>