% rebase('header.tpl', title='Playing Stream')
<meta http-equiv="refresh" content="{{vid_msg_time}};url={{base_url}}">
<h1>Watching <img src="/{{profile['profile_image_url']}}" width="50"> {{profile['name']}} Live!</h1>
<h2>Bringing you back shortly...</h2>
